* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "jost";
}

@font-face {
  font-family: "Jost";
  font-weight: 400;
  src: url("../fonts/Jost-Regular.ttf");
}
@font-face {
  font-family: "Jost";
  font-weight: 900;
  src: url("../fonts/Jost-Black.ttf");
}
@font-face {
  font-family: "Jost";
  font-weight: 700;
  src: url("../fonts/Jost-Bold.ttf");
}
@font-face {
  font-family: "Jost";
  font-weight: 800;
  src: url("../fonts/Jost-ExtraBold.ttf");
}
@font-face {
  font-family: "Jost";
  font-weight: 500;
  src: url("../fonts/Jost-Medium.ttf");
}
@font-face {
  font-family: "Jost";
  font-weight: 400;
  src: url("../fonts/Jost-Regular.ttf");
}
@font-face {
  font-family: "Jost";
  font-weight: 600;
  src: url("../fonts/Jost-SemiBold.ttf");
}
.container {
  max-width: 1440px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media only screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media only screen and (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

.btn {
  background-color: black;
  color: white;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 32px;
  padding-right: 32px;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.main-section {
  background-image: url("../img/main-sec-img.png");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 285px;
}

.topber {
  display: flex;
  flex-flow: row;
  justify-content: initial;
  align-items: center;
  padding-top: 23px;
}

.tophead-logo {
  display: flex;
  flex-flow: row;
  justify-content: initial;
  align-items: center;
}
.tophead-logo img {
  width: 33px;
  height: 22px;
}
.tophead-logo h2 {
  font-size: 18px;
  font-weight: 900;
  line-height: 20px;
  color: #141527;
}
@media only screen and (min-width: 768px) {
  .tophead-logo h2 {
    font-size: 21px;
  }
}

.top-menu {
  margin-left: 5%;
  display: none;
}
@media only screen and (min-width: 992px) {
  .top-menu {
    display: block;
  }
}
@media only screen and (min-width: 1200px) {
  .top-menu {
    margin-left: 7%;
  }
}
.top-menu ul {
  display: flex;
  flex-flow: row;
  justify-content: initial;
  align-items: initial;
  column-gap: 24px;
}
.top-menu ul a {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #090A14;
}

.top-right {
  margin-left: auto;
}
.top-right button:nth-child(2) {
  background-color: initial;
  color: #090A14;
  margin-right: 12px;
  display: none;
}
@media only screen and (min-width: 992px) {
  .top-right button:nth-child(2) {
    display: initial;
    margin-right: 15px;
  }
}
@media only screen and (min-width: 1200px) {
  .top-right button:nth-child(2) {
    margin-right: 18px;
  }
}
.top-right button:nth-child(1) {
  display: block;
  color: #090A14;
  font-size: 25px;
  border: none;
}
@media only screen and (min-width: 992px) {
  .top-right button:nth-child(1) {
    display: none;
  }
}
.top-right button:nth-child(3) {
  display: none;
}
@media only screen and (min-width: 992px) {
  .top-right button:nth-child(3) {
    display: initial;
  }
}

.main-heading {
  margin-top: 76px;
}
.main-heading h1 {
  display: flex;
  flex-flow: column wrap;
  font-size: 40px;
  font-weight: 800;
  line-height: 110%;
  margin-bottom: 28px;
}
@media only screen and (min-width: 768px) {
  .main-heading h1 {
    font-size: 50px;
    line-height: 126%;
  }
}

/*# sourceMappingURL=style.css.map */
