*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: "jost";
    background-color: #131A52;
}

@mixin background($url, $size, $position, $repeat) {
    background-image: $url;
    background-size: $size;
    background-position: $position;
    background-repeat: $repeat;
}

// Fonts

$dark14: #090A14;
$dark27: #141527;
$blue: #093CBD;
$blue47: #1A2747;


@mixin font-generator ($name, $weight, $url) {
    @font-face {
        font-family: $name;
        font-weight: $weight;
        src: url("../fonts/Jost-#{$url}.ttf");
    }  
}

@include font-generator( 'Jost', 400, 'Regular');

@for $var from 1 to 7 {
    $urlList: 'Black', 'Bold', 'ExtraBold', 'Medium', 'Regular', 'SemiBold';
    $sizeList: 900, 700, 800, 500, 400, 600;
    @include font-generator( 'Jost', nth($sizeList, $var), nth($urlList, $var));    
}

@mixin fonts($font-size, $font-weight, $line-height) {
    font-size: $font-size;
    font-weight: $font-weight;
    line-height: $line-height;
}

// Container
p{
    color: $dark27;
}

.container{
    max-width: 1440px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

@mixin media($width) {
    @media only screen and (min-width: $width) {
        @content;
    }
}

$screensize: (
    "576px": "540px",
    "768px": "720px",
    "992px": "960px",
    "1200px": "1140px",
    "1400px": "1320px",
);

@each $screen, $max in $screensize {
    .container{
        @include media($screen) {
            max-width: unquote($max);
        }
    }
}

// Padding and margin

@mixin py($top, $bottom) {
    padding-top: $top;
    padding-bottom: $bottom;
}

@mixin px($left, $right) {
    padding-left: $left;
    padding-right: $right;
}
@mixin mx($left, $right) {
    margin-left: $left;
    margin-right: $right;
}
@mixin my($left, $right) {
    margin-top: $left;
    margin-bottom: $right;
}

// Common style

@mixin display($display, $direction, $justify-content, $align-items) {
    display: $display;
    flex-flow: $direction;
    justify-content: $justify-content;
    align-items: $align-items;
}

.btn{
    background-color: black;
    color: white;
    @include py(12px, 12px);
    @include px(32px, 32px);
    @include fonts(14px, 600, 20px);
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
}

.border1px{
    width: 30%;
    height: 3px;
    background-color: $dark27;
}

.sec-head{
    @include fonts(25px, 700, 123%);
    color: $dark14;

    @include media(768px) {
        font-size: 28px;
    }
}

// arrow

.arrow-wrap{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.shift-arrow{
    display: flex;
    flex-flow: row wrap;
    column-gap: 20px;
    margin-right: 179px;

    .arrow{
        font-size: 15px;
        width: 40px;
        height: 40px;
        border: 1px solid $dark27;
        border-radius: 50%;
        font-weight: 900;
        @include display(flex, row, center, center)
    }
    .right-arrow{
        background-color: $dark27;
        color: white;
    }
}

@import "partials/main-sec";
@import "partials/solutions";
@import "partials/_footer2.scss";
@import "partials/news-resourse";
@import "partials/developer";