*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: "jost";
}

// Fonts

@mixin font-generator ($name, $weight, $url) {
    @font-face {
        font-family: $name;
        font-weight: $weight;
        src: url("../fonts/Jost-#{$url}.ttf");
    }  
}

@include font-generator( 'Jost', 400, 'Regular');

@for $var from 1 to 7 {
    $urlList: 'Black', 'Bold', 'ExtraBold', 'Medium', 'Regular', 'SemiBold';
    $sizeList: 900, 700, 800, 500, 400, 600;
    @include font-generator( 'Jost', nth($sizeList, $var), nth($urlList, $var));    
}

@mixin fonts($font-size, $font-weight, $line-height) {
    font-size: $font-size;
    font-weight: $font-weight;
    line-height: $line-height;
}

// Container

.container{
    max-width: 1440px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

@mixin media($width) {
    @media only screen and (min-width: $width) {
        @content;
    }
}

$screensize: (
    "576px": "540px",
    "768px": "720px",
    "992px": "960px",
    "1200px": "1140px",
    "1400px": "1320px",
);

@each $screen, $max in $screensize {
    .container{
        @include media($screen) {
            max-width: unquote($max);
        }
    }
}

// Padding and margin

@mixin py($top, $bottom) {
    padding-top: $top;
    padding-bottom: $bottom;
}

@mixin px($left, $right) {
    padding-left: $left;
    padding-right: $right;
}
@mixin my($left, $right) {
    padding-left: $left;
    padding-right: $right;
}
@mixin mx($left, $right) {
    padding-left: $left;
    padding-right: $right;
}

// Common style

@mixin display($display, $direction, $justify-content, $align-items) {
    display: $display;
    flex-flow: $direction;
    justify-content: $justify-content;
    align-items: $align-items;
}

.btn{
    background-color: black;
    color: white;
    @include py(12px, 12px);
    @include px(32px, 32px);
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
}

@import "partials/main-sec"