.main-section{
    background: url(../img/main-sec-img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 285px;
}
.main-section::after{
    content: '';
    position: absolute;
    inset: 0;
    background-color: #093CBD;
    mix-blend-mode: color;
}

.topber{
    @include display(flex, row, initial, center);
    padding-top: 23px;
}
.tophead-logo{
    @include display(flex, row, initial, center);

    img{
        width: 33px;
        height: 22px;
    }
    h2{
        @include fonts(18px, 900, 20px);
        color: $dark27;

        @include media(768px) {
            font-size: 21px;
        }
    }
}

.top-menu{
    margin-left: 5%;
    display: none;

    @include media(992px) {
        display: block;
    }
    @include media(1200px) {
        margin-left: 7%;
    }

    ul{
        @include display(flex, row, initial, initial);
        column-gap: 24px;

        a{
            @include fonts(14px, 500, 20px);
            color: $dark14;
        }
    }
}

.top-right{
    margin-left: auto;

    button:nth-child(2){
        background-color: initial;
        color: $dark14;
        margin-right: 12px;
        display: none;

        @include media(992px) {
            display: initial;
            margin-right: 15px;
        }
        @include media(1200px) {
            margin-right: 18px;
        }
    }

    button:nth-child(1) {
        display: block;
        color: $dark14;
        font-size: 25px;
        border: none;

        @include media(992px) {
            display: none;
        }
    }
    button:nth-child(3) {
        display: none;

        @include media(992px) {
            display: initial;
        }
    }
}

.main-heading{
    margin-top: 76px;

    h1{
        display: flex;
        flex-flow: column wrap;
        @include fonts(40px, 800, 110%);
        margin-bottom: 28px;

        @include media(768px) {
            font-size: 50px;
            line-height: 126%;
        }
    }
}